* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  border: 5px solid grey;
  border-radius: 10px;
  width: 400px;
  height: 500px;
  padding: 25px 30px;
  gap: 20px;
}

button {
  padding: 25px;
  width: 25%;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  font-weight: bold;
}

.row {
  display: flex;
}

.screen {
  height: 20%;
  border: 3px solid green;
  border-radius: 5px;
  background-color: rgba(0, 128, 0, 0.04);
}

.buttons {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.buttons .row {
  height: 100%;
}

.equal {
  width: 50%;
  background-color: rgba(127, 255, 161, 0.353);
}

button:hover {
  background-color: rgb(255, 251, 216);
}
