* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 30px;
  font-size: 24px;
  flex-grow: 1;
  width: 25%;
}

.row {
  width: 400px;
  display: flex;
}

.row-last {
  width: 400px;
  display: flex;
  flex-direction: row;
}

.equal {
  width: 50%;
  background-color: rgba(127, 255, 161, 0.353);
}


